* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'inter', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    background-color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.05);
}

.linkgrupo {
    display: flex;
    width: auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    cursor: pointer;
    color: black;
}

.logo-icon {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 20%;


    color: #ffffff;
    font-weight: 700;
    background: linear-gradient(135deg, #6E1DB0 0%, #4A0E8F 100%);

}


.logo-text {
    padding: 10px;
}

.titulo {
    font-weight: bold;
}

.subtitulo-logo {
    font-size: 70%;
}


nav {
    display: flex;
    align-items: center;
    color: black;
}

.linksMeio {
    transform: translateX(100%);
    display: flex;
    gap: 2rem;
    color: black;
}
.linksMeio a {
    color: black;
    }

.botoesCabecalho {
    display: flex;
    height: 7vh;
    gap: 10px;
    margin-left: auto;
    margin-right: 20px;
}


.botaoEntrar {
    background-color: white;
    border-radius: 5px;
    width: 5rem;
    border: 1px solid #E0E0E0;
}

.botaoEntrar:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    filter: brightness(1.05);
    transition: all 0.3s ease-in-out;
}

.botaoInscricao {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    width: 8rem;
}

.botaoInscricao:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    filter: brightness(1.05);
    transition: all 0.3s ease-in-out;
}

.primeira-secao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    color: #ffffff;

    background-image: url(FundoProjetoMain.jpeg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.textPrimeiraSecao {
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 5vh;
}

.tituloPrimeiraSecao {
    font-size: 4rem;
}

.subtituloPrimeiraSecao {
    color: rgba(255, 255, 255, 0.9);
    font-size: 150%;
    font-weight: 150;
}

.containerBeneficios {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-beneficio {
    display: flex;
    margin-bottom: 1.5rem;
    margin-right: 30px;
    gap: 5px;

    align-items: flex-start;
    justify-content: center;
    font-size: 90%;
    font-weight: 1;
}

.botoesPrimeiraSecao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.botaoInscrevaPrimeiraSecao {
    height: 7vh;
    width: 15rem;

    border-radius: 5px;
    border: none;

    background-color: white;
    color: #4A0E8F;
    font-weight: bold;
    font-size: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoInscrevaPrimeiraSecao:hover {
    cursor: pointer;
    transform: scale(1.02);
    filter: brightness(1.05);
    transition: all 0.3s ease-in-out;
}

.botaoVerProgramacao {
    height: 7vh;
    width: 10rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 90%;

    background-color: white;
    color: #4A0E8F;

    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoVerProgramacao:hover {
    cursor: pointer;
    transform: scale(1.02);
    filter: brightness(1.05);
    transition: all 0.3s ease-in-out;
}


.figura {
    display: flex;
    width: 1rem;
    height: 3vh;
}

/* Segunda pagina */

.segundaSecao {
    width: 100%;
    min-height: 100vh;
    padding: 5rem 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-segundaSecao {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    gap: 20px;
    min-height: 100vh;

}

.informacaoAcessebilidade {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    background-color: rgba(0, 122, 255, 0.15);
    border-radius: 20px;
    width: 17rem;
    height: 7vh;

    color: #6E1DB0;
    font-weight: 1;
}


.subtituloSegundaSecao {
    font-weight: 100;
    padding: 20px;
}

/* Terceira Pagina */

.terceiraSecao {
    width: 100%;
    min-height: 100vh;
    

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #f8f9fa;
}

.container-terceiraSecao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.titulosTerceiraSecao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;

    flex-direction: column;
}

.subtituloTerceiraSecao {
    font-weight: 100;
    padding: 20px;
}

.informacoes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 3rem;

}

.informacoesBlocos {
    display: flex;
    width: 20rem;
    height: 40vh;
    margin: 3vh;
    padding: 2rem;

    border-radius: 10px;
    border: 2px solid #e2e8f0;

    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}

.informacoesBlocos:hover {
    border-color: #6E1DB0; 
    cursor: pointer;

    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #fcfaff;
    transition: all 0.3s ease-in-out;
}

.textosInformacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tituloBlocos {
    font-weight: 700;
    color: #1a1a1a;
    margin: 0.8rem;
}

.paragrafoBlocos {
    font-size: 1rem;
    font-weight: 300; 
    line-height: 1.5;
}

.garantaVaga {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 50vh;
    width: 100%;
    background-image: url(FundoProjetoMain.jpeg);
}

.textosGarantaVaga {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;

    color: #ffffff;
}

#tituloGarantaVaga {
    font-size: 2.3rem;
    font-weight: 700;
    margin: 1rem;
}

#subtituloGarantaVaga {

    font-weight: 300;
    text-align: center;
    line-height: 1.5;
}

.botaoGarantaVaga {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#botaoFazerinscricao {
    border: none;
    height: 8vh;
    width: 18rem;
    border-radius: 10px;

    background-color: white;
    font-size: 1rem;
    font-weight: 700;
    color: #4A0E8F;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    filter: brightness(1.05);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.rodape {
    display: flex;
    height: 23vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #0b1423;
    
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    flex-direction: column;
}

#p1 {
    font-size: 1.1rem;
    margin: 1rem;
}

/* Seção formulario */

.abaInscricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 45vh;
    width: 100%;
    background-image: url(FundoProjetoMain.jpeg);
    margin: 1rem;

    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

#tituloAbaFormulario {
    margin-top: 3rem;
    font-size: 2.8rem;
    font-weight: bold;
}

#subtituloAbaFormulario {
   font-weight: 300;
   margin-top: 1.4rem;
}

.secaoFormulario {
    min-height: 100vh;
    width: 100%;
    background-color: #f8f9fa;
}

.formulario {
  display: flex;
  height: auto;
  flex-direction: column;
  gap: 5vh; 
  padding: 2rem;
  margin: 1rem;

  border: 1px solid gray; 
  border-radius: 10px;

  background-color:#ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.informText{
    width: 20rem;
}

#subtituloInformText{
    font-weight: 300;
    color: #71717a;
    margin-top: 1vh;
    line-height: 1.5;
}

.grupo-campo {
    display: flex;
    justify-items: center;
    flex-direction: column;
    gap: 10px;
}

.campo-Input {
    height: 5vh;
    border: none;
    border-radius: 5px;
    background-color: #f1f5f9;
}

.spanInput {
    font-size: 50%;
    color:  #64748b;
}

/* Estilos para botões como links */
.botaoEntrar,
.botaoInscricao {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    padding: 0.8rem 1.2rem;
}

.botaoEntrar {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    color: black;
    width: 5rem;
    height: 7vh;
}

.botaoEntrar:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    filter: brightness(1.05);
}

.botaoInscricao {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    width: 8rem;
    height: 7vh;
}

.botaoInscricao:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    filter: brightness(1.05);
}

.obrigatorio {
    color: red;
}

.botaoConfirmar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#botaoConfirmarInscricao {
    height: 6vh;
    min-width: 15rem;


    border: none;
    border-radius: 5px;

    background-color: black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

#botaoConfirmarInscricao:hover {
    transform: translateY(-3px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    filter: brightness(1.05);
}

.informTextFinal {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: center;
}

#spanTextFinal {
    font-size: 60%;
    text-align: center;
}

/* Aba de programação / informações */

.secaoProgramacao {
    width: 100%;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.abaProgramacao {
    display: flex;
    width: 100%;
    height: 30vh;
    background-image: url(FundoProjetoMain.jpeg);
    margin-top: 15vh;

    align-items: center;
    justify-content: center;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.textsAbaProgramacao {
    width: 60%;
    align-items: center;
    justify-items: center;
    color: #ffffff;
}

#tituloAbaProgramacao{
    font-size: 2.8rem;
    font-weight: 900;
}

#subtituloAbaProgramacao {
    font-weight: 300;
    margin-top: 2vh;
}

/* Cards Informativos*/

.cardsProgramacao {
    display: flex;

    width: 70%;
    height: 40vh;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    border-radius: 15px;
    border: 1px solid #e2e8f0;

    margin: 3vh;
}

.cardsProgramacao:hover {
    transform: translateY(-3px);
    transition: all 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.containerFiguraCards {
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    
}

.figuraCards {
    width: 20rem;
    height: 40vh;
}

.textsCardsProgramacao {
    display: flex;
    width: 100%;
}

.cabecalhoCard {
    display: flex;
    width: 100%;
    height: 5vh;
}



