@{
    ViewData["Title"] = "Certificado Não Encontrado";
}

<h1>Certificado Não Encontrado</h1>

<p>O código de verificação fornecido não corresponde a nenhum certificado.</p>

<a href="/">Voltar</a>