@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao TechConnect Backend</h1>
    <p>Gerencie participantes, inscrições e certificados.</p>
</div>